body {
   font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
   color: #333333;
   font-size:85%;
   background-color:#ffffff;
}
a {
   text-decoration:none;
   color:#3759BC;
}
a:hover {
   text-decoration:underline;
}
th {
   font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
}
td {
   font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
   vertical-align:top;
}
h1,h2,h3,h4,h5,h6 {
   margin:0px 0px 0px 0px;
}
select,input {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
   font-size:80%;
}
form {
   margin:0px 0px 0px 0px;
}
.maintable {
   background-color:#aaaaaa;
   font-size:85%;
   -moz-border-radius:2px;
   color:#333333;
   border: 1px solid #aaaaaa;
}
.tablehead {
   font-size:110%;
   font-weight:bold;
}
.row1 {
   background-color:#dddddd;
}
.row2 {
   background-color:#eeeeee;
}
.active {
   color:#339933;
}
.inactive {
   color:#333366;
}
.seed {
   background-color:#33cc33;
}
.leech {
   background-color:#333333;
}
.hilite {
   font-weight: bold;
}
.torrenttitle {
   font-weight: bold;
}
.viewseloff {
   border-top: 1px solid #aaaaaa;
   border-right:1px solid #aaaaaa;
   border-left: 1px solid #aaaaaa;
   background-color: #888888;
}
.viewselon {
   border-top: 1px solid #aaaaaa;
   border-right:1px solid #aaaaaa;
   border-left: 1px solid #aaaaaa;
   background-color: #aaaaaa;
   font-weight: bold;
}
.smalltext {
   font-size:70%;
}
.mediumtext {
   font-size:85%;
}